{% extends 'base.html' %}
{% load static %}

{% block title %} About Us | Ogochuks Styles {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center bg-light">
            <hr>
            <h1 class="mb-2">About Ogochuksstyles</h1>
            <h5 class="text-uppercase"><mark>Join the Movement</mark></h3> 
                <div>
                    <h6 class="text-uppercase fw-bold">@Ogochuksstyles</h3>
                </div>
            <hr>      
        </div>  
    </div> 
    <div class="col-12 col-md-6 mx-auto text-start">
        <p>
            Welcome to <a href="{% url 'home' %}" aria-label="Go to home page">
            <strong>Ogochuksstyles</strong></a>, where we offer premium hairstyling services for both 
            men and women. Combining expert styling with top-quality products. We ensure 
            every client leaves feeling refreshed and confident. Whether you're shopping 
            for products or booking a new look, we deliver an exceptional experience every time.
        </p>
        <p>
            At Ogochuksstyles, we are dedicated to providing vibrant, high-quality appointments 
            that ensure a top-tier experience for every customer. Specialising in male and female 
            hairstyling, hair care, and products. As more men and women from diverse backgrounds 
            embrace their natural hair, we continue to celebrate and support this movement through our 
            innovative styles are proud to contribute to the growing Irish hair industry. We focus on 
            creating innovative hair accessories that meet each our clients' needs and comfort. 
            Additionally, we are passionate about educating our customers on maintaining their 
            hair textures and proper haircare practices through consultation or appointments.
        </p>
        <p>
            Looking ahead, we're excited to launch our first satin-lined caps, designed to 
            provide both style and protection. Whether you're protecting your hair, in sports, 
            or any other activity, these caps offer maximum comfort and care. Our goal is 
            to make these accessible to everyone, allowing individuals to look fresh and 
            feel confident without compromising their hairstyle.
        </p>
        <h5 class="fst-italic">'Ogochuks styles you'</h5>      
    </div> 
</div>
<!-- Cap -->
<div class="container py-2"> 
     <!-- Cap Images -->
    <div class="row d-flex justify-content-center g-1 mb-2 mt-5 mx-auto"> 
        <h4 class="text-center">Satin-Lined Skull Caps</h4>
        <!-- with col-md-3 each image takes up one-fourth of the width of the screen -->
        <div class="col-6 col-md-3">
            <img src="{{ MEDIA_URL }}product_image/satin_lined_skull_caps.webp" class="card-img-top" alt="Satin-Lined Skull Caps">
        </div>
        <div class="col-6 col-md-3">
            <img src="{{ MEDIA_URL }}product_image/satin_lined_skull_caps.webp" class="card-img-top" alt="Satin-Lined Skull Caps">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <p>
                <a href="{% url 'products' %}" aria-label="Go to all products page"><strong>Our Satin-Lined 
                Skull Caps</strong></a> are carefully designed to provide extra protection for your hair 
                with our satin lining. The satin material reduces friction, minimises breakage, retains 
                hair's moisture, keeping it healthier and more manageable.
            </p>
            <p>
                Our skull caps combine trending fashion designs with practicality. Ever have your 
                hair ruined after a footbal session in the rain? Frustrated when your hair begins 
                to frizz just days after styling? These cap let you look your best without 
                compromising your haircare routine.
            </p>
            <p>
                Perhaps you're tired of walking around in a traditional bonnet? These caps 
                offer the perfect alternative for a polished, stylish appearance, whether 
                you're training at Astro, running in Santry or heading out to meet some friends.
            </p>
            <h6>
                What makes our Caps different?
            </h6>
            <p>
                Each Satin-Lined Cap features an innovative waterproof material sewn into the 
                design, offering convenience and durability. This essential layer reduces the 
                risk of water soaking through to the inner satin lining, keeping your hair 
                protected from excess moisture.
            </p>
        </div>
    </div>
</div>
<!-- Caps -->
<div class="container py-2">
     <!-- Cap Images -->
    <div class="row d-flex justify-content-center g-1 mx-auto"> 
        <h4 class="text-center">Male and Female Hairstyling</h4>
        <!-- with col-md-3 each image takes up one-fourth of the width of the screen -->
        <div class="col-6 col-md-3">
            <img src="{{ MEDIA_URL }}braids_1.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
        </div>
        <div class="col-6 col-md-3 ">
            <img src="{{ MEDIA_URL }}barrel_twist_locs.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
           <ul class="ml-5">
               <li>Our services include <strong>two-strand twists, plaits, cornrows, and loc re-twists</strong> tailored to any hair type.
               </li>
               <li>
                    <a 
                        href="https://ogochuksstyles.as.me/schedule.php" 
                        target="_blank" 
                        rel="noopener" 
                        aria-label="Go to OgochuksStyles' appointment page (opens new tab on third party site)">
                        <strong>Schedule An Appointment</strong>
                    </a>
               </li>
               
           </ul>
        </div>
    </div>
</div>


{% endblock %}