{% extends 'base.html' %}
{% load static %}

{% block title %} Ogochuks Styles | Hair Styling for Men and Women {% endblock %}

{% block content %}
<div>
  <!-- Hero video -->
  <div class="card border-0">
    <!-- Video Background -->
    <div class="w-100 position-relative">
      <video autoplay muted loop playsinline class="w-100 d-block d-md-none" style="aspect-ratio: 5/3;">
        <source src="{{ MEDIA_URL }}hero-video.mp4" id="hero_video_mobile" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <video autoplay muted loop playsinline class="h-100 w-100 d-none d-md-block">
        <source src="{{ MEDIA_URL }}hero-video.mp4" id="hero_video_desktop" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <!-- Overlay Content -->
    <div class="card-img-overlay d-flex justify-content-center align-items-center align-self-md-center d-none d-md-block">
      <div class="text-center text-white">
        <div>
          <a class="navbar-brand text-uppercase text-white w-25" href="{% url 'home' %}">
            <img src="{{ MEDIA_URL }}ogochuks_logo.png" class="img-fluid" alt="Ogochuksstyles logo">
          </a>
        </div>
        <span class="fs-4 my-5">
          Dublin | Ireland
        </span>
        <div class="mt-0 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Services Section -->
  <div class="container col-sm-12 col-md-6 pb-5">
    <h3 class="text-uppercase text-muted text-center mt-2"><mark>Our Services</mark></h3> 
    <div class="card-group g-2">
      <div class="card border-0 shadow">
        <div class="card-body">
          <h5 class="card-title fst-italic">Hair Styling</h5>
          <div>
            <p class="card-text">
              We specialise in natural hair, creating protective styles that keep your hair 
              healthy and stylish. Our services include two-strand twists, plaits, cornrows, and loc re-twists 
              tailored to any hair type. We use quality products and great techniques to ensure long-lasting results.
            </p>
          </div>
        </div>
      </div>
      <div class="card shadow border-0">
        <div class="card-body">
          <h5 class="card-title fst-italic">Accessories</h5>
          <div>
            <p class="card-text">We offer a wide range of high-quality hair products, including <strong>satin-lined 
              skull caps, combs, and various hair accessories</strong> designed to support and enhance your hair 
              care routine. Our carefully selected products help protect, style, and maintain healthy hair, 
              making your journey to stronger, more vibrant hair effortless and enjoyable.</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <!-- Our awesome caps Section -->

  <div class="container mt-1 pb-0 bg-dark text-white">
      <h3 class="text-uppercase text-center"><mark>Satin-Lined Skull Caps</mark></h3> 
      <div class="row g-1">
    <div class="col-6 col-md-3">
      <img src="{{ MEDIA_URL }}ogochuksstyles_cap1.webp" class="card-img-top" alt="Satin-Lined Skull Caps">
    </div>
    <div class="col-6 col-md-3">
      <img src="{{ MEDIA_URL }}ogochuksstyles_cap2.webp" class="card-img-top" alt="Satin-Lined Skull Caps">
    </div>
    <div class="col-6 col-md-3">
      <img src="{{ MEDIA_URL }}ogochuksstyles_cap3.webp" class="card-img-top" alt="Satin-Lined Skull Caps">
    </div>
    <div class="col-6 col-md-3">
      <img src="{{ MEDIA_URL }}ogochuksstyles_cap4.webp" class="card-img-top" alt="Satin-Lined Skull Caps">
    </div>
    <div class="col-12 col-md-4 mx-auto text-center mt-3">
      <p>
        <a href="{% url 'products' %}" aria-label="Go to all products page"><strong>Our Satin-Lined 
        Skull Caps</strong></a> are carefully designed to provide extra protection for your hair. 
        The satin material reduces friction, minimises breakage, retains 
        hair's moisture, keeping it healthier and more manageable.
      </p>
      <h5>
        Remember, Ogochuks styles you!
      </h5>
      <a href="{% url 'products' %}" class="btn home-beauty-btn btn-secondary w-100 text-uppercase text-center">
        <small class="text-body-secondary">Buy Now</small>
      </a>
    </div>
  </div>
  </div> 
  <!-- Ogochuks Styles Section -->
  <div class="container-fluid bg-light"> 
    <div class="card-group g-2 mt-5">
      <div class="card bg-light border-0">
        <div class="card-body col-md-6 text-center mx-auto">
          <h4 class="text-uppercase"><mark>Join the Movement</mark></h3> 
          <div>
              <h6 class="text-uppercase fw-bold">@Ogochuksstyles</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap carousel -->
  <div class="container-fluid bg-light pb-3">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="6000">
          <div class="row g-2">
            <div class="col-6 col-md-3">
              <img src="{{ MEDIA_URL }}braids_1.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
            </div>
            <div class="col-6 col-md-3 ">
              <img src="{{ MEDIA_URL }}barrel_twist_locs.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
            </div>
            <div class="col-6 col-md-3 ">
              <img src="{{ MEDIA_URL }}barrel_twist_non_locs.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
            </div>
            <div class="col-6 col-md-3 ">
              <img src="{{ MEDIA_URL }}hairstyle.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="row g-2">
            <div class="col-6 col-md-3">
              <img src="{{ MEDIA_URL }}braids_2.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
            </div>
            <div class="col-6 col-md-3 ">
              <img src="{{ MEDIA_URL }}freestyle_cornrows_2.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
            </div>
            <div class="col-6 col-md-3 ">
              <img src="{{ MEDIA_URL }}plug_twist.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
            </div>
            <div class="col-6 col-md-3 ">
              <img src="{{ MEDIA_URL }}pop_smoke_braids.webp" class="card-img-top d-block w-100" alt="Satin-Lined Skull Caps">
            </div>
           </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <div class="col-12 col-md-5 mx-auto text-center mt-1">
        <!-- Add Schedule Appointment button  -->
        <a 
          href="https://ogochuksstyles.as.me/schedule.php" 
          target="_blank" 
          rel="noopener" 
          aria-label="Go to OgochuksStyles' appointment page (opens new tab on third party site)" 
          class="btn btn-dark text-uppercase w-100 mb-5">Schedule An Appointment
        </a>
    </div>
    </div>
  </div>
</div>
  <div class="text-center mt-5">
    <figure>
      <a class="navbar-brand text-uppercase text-white text-center" href="{% url 'home' %}">
          <img src="{{ MEDIA_URL }}ogochuks_logo_black.png" class="img-fluid" alt="Ogochuksstyles logo">
      </a>
    </figure>
  </div>
</div>
<!-- navbar scroll changes colour  -->
<script>
  const navElem = document.querySelector('.navbar');
  window.addEventListener('scroll', () => {

      if (window.scrollY >= 56) {
          navElem.classList.add('navbar-scrolled')
      } else if (window.scrollY < 56) {
          navElem.classList.remove('navbar-scrolled');
      }
  });

</script>
{% endblock %}
