{% extends 'base.html' %}
{% load static %}

{% block title %} Ogochuks Styles | Hair Styling for Men and Women {% endblock %}

{% block content %}
<div>
  <!-- Hero Image  -->
  <div class="pt-0 text-center"> 
      <!-- <img src="{{ MEDIA_URL }}hero-image-mobile.webp" id="hero-image-mobile" class="img-fluid" alt="Ogochuks Styles Hero Image"> -->
      <img src="{{ MEDIA_URL }}hero_image_new.webp" id="hero_image" class="img-fluid max-width: 100%; height-auto;"  alt="Ogochuks Styles Hero Image">
  </div>

  <!-- Hero image text  -->
  <div class="hero-image-text">           
    <div class="text-center">
        <h1 class="text-uppercase">
            Ogochuks Styles
        </h1>
        <span class="haute-couture my-5">
          +353... | Dublin
        </span>
    </div>
  </div>

  <!-- Our Services Section -->
  <div class="container text-center mt-5 pb-5">
    <h3 class="text-uppercase text-muted">Our Services</h3> 
    <div class="card-group g-2">
      <div class="card">
        <div class="card-body bg-light">
          <h5 class="card-title text-uppercase">Hair Styling</h5>
          <div class="bg-white">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body bg-light">
          <h5 class="card-title text-uppercase">Accessories</h5>
          <div class="bg-white">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <!-- Our awesome caps Section -->
  <div class="container text-center mt-1 pb-2">
      <h3 class="text-uppercase text-muted">Our awesome caps</h3> 
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="{{ MEDIA_URL }}ogochuksstyles_caps.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-sm-6 pb-2">
          <div class="card">
            <img src="{{ MEDIA_URL }}ogochuksstyles_caps.jpg" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
      <div class="card-group g-2">
        <div class="card">
          <img src="{{ MEDIA_URL }}ogochuksstyles_cap1.webp" class="card-img-top" alt="...">
        </div>
        <div class="card">
          <img src="{{ MEDIA_URL }}ogochuksstyles_cap2.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn home-beauty-btn text-uppercase border border-dark bg-white"><small class="text-body-secondary">Buy Now</small></a>
          </div>
        </div>
        <div class="card">
          <img src="{{ MEDIA_URL }}ogochuksstyles_cap1.webp" class="card-img-top" alt="...">
        </div>
      </div>
  </div>
  
  <!-- Ogochuks Styles Section -->
  <div class="container text-center mt-1 pb-2">
      <div class="col-12 mt-5">
        <span class="haute-couture my-5">
          Hair Styles!
        </span>
        <div>
            <h1 class="font-weight-bold text-uppercase text-muted">
              Ogochuks Style U!
            </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-6">
          <div class="card">
            <img src="{{ MEDIA_URL }}freestyle_cornrows_2.webp" class="card-img-top d-block" alt="...">
          </div>
        </div>
        <div class="col-sm-6 pb-2">
          <div class="card">
            <img src="{{ MEDIA_URL }}style_locs.webp" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
      <div class="card-group pb-2">
        <div class="card">
          <img src="{{ MEDIA_URL }}barrel_twist_locs.webp" class="card-img-top" alt="...">
        </div>
        <div class="card">
          <img src="{{ MEDIA_URL }}freestyle_cornrows.webp" class="card-img-top" alt="...">
        </div>
        <div class="card">
          <img src="{{ MEDIA_URL }}barrel_twist.webp" class="card-img-top" alt="...">
        </div>
        <div class="card">
          <img src="{{ MEDIA_URL }}cornrows.webp" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mx-auto"> 
        <p class="text-start">
          Lorem ipsum dolor sitope amet, consectetur adipisicing elitip. Massumenda, dolore, cum vel modi 
          asperiores consequatur suscipit quidem ducimus eveniet iure expedita consecteture odiogil voluptatum 
          similique fugit voluptates atem accusamus quae quas dolorem tenetur facere tempora maiores adipisci 
          reiciendis accusantium voluptatibus id voluptate tempore dolor harum nisi amet! Nobis, eaque. 
        </p>
       <!-- Add Schedule Appointment button  -->
        <div class="mt-2">
          <h2>
              <a href="{% url 'products' %}" aria-label="Go to all products page" class="btn home-btn home-mobile-btn btn-dark text-uppercase py-3">Schedule An Appointment</a>
          </h2>
        </div>
        <hr class="divider bg-lightgray">
      </div>
  </div>

  <!-- Testimonials section  -->
  <div class="container mt-2 mb-5">
    <div itemscope itemtype=“https://schema.org/Testimonials” class="row mt-1 mb-2 mx-auto">
      <div class="col-12 w-50 text-center">
          <h3 class="card-title card-footer" itemprop =“name”>Customer Testimonials</h3>
      </div>
    </div>
    <div class="row g-2">
      {% for testimonial in testimonials %}
        <div class="col-12 col-md-4">
            <div class="card p-3 text-center px-4 m-2">
                <div class="user-image">
                  <img src="{{ testimonial.user.userprofile.profile_image.url }}" class="img-fluid mx-auto" width="500" alt="{{ testimonial.user.username }}Testimonial's author Profile Photo" >
                  <hr>
                  <p class="font-weight-bold mb-0">{{ testimonial.name }}</p>
                  <span class=" text-muted font-weight-normal">
                    {{ testimonial.created_on | date:"D, d M Y" }},
                    {{ testimonial.created_on | time:"H:ia" }}
                  </span>
                  <p class="py-0 text-left"> {{ testimonial.body }} </p>
                </div>
                <div class="text-center">
                  {% if request.user.username %}
                  <hr>
                  <small class="ml-3">
                    {% if request.user.username or request.user.is_superuser == testimonial.user.username %}
                      <a class="edit-btn" href="{% url 'edit_testimonial' testimonial.id %}" aria-label="Go to edit testimonial page">Edit</a> |
                      <!-- Delete Testimonial Button trigger modal -->
                      <a type="text" href="{{ testimonial.id }}" class="text-danger" data-toggle="modal" data-target="#testimonial_{{ testimonial.id }}" aria-label="Delete this testimonial" >
                        Delete
                      </a>
                    {% endif %}
                  </small>
                  <!-- Delete Testimonial Modal -->
                  <div class="modal fade" id="testimonial_{{ testimonial.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-testimonial_{{ testimonial.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="delete-testimonial_{{ testimonial.id }}">Delete Testimonial</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h4>{{ user | capfirst }}, are you sure you want to delete this Testimonial?</h4>
                          <p>Your Testimonial and its related items will be deleted.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, take me back</button>
                          <a role="button" href="{% url 'delete_testimonial' testimonial.id %}" class="btn btn-danger">Yes, I'm Sure</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div> 
    <!-- Add testimonial button  -->
    <div class="text-center my-3"> 
      <a href="{% url 'testimonial' %}" aria-label="Write a testimonial" class="btn home-beauty-btn py-2 border border-lightgray bg-white font-weight-bold" itemprop =“description”>Write a testimonial</a>
      <hr class="divider bg-lightgray w-100">
    </div>
  </div>
  
   <!-- Background Image Overlay First -->
  <div class="card text-bg-dark">
    <img src="{{ MEDIA_URL }}bg_image.webp" class="card-img" alt="...">
    <div class="card-img-overlay mx-auto">
      <p class="card-text">"THERE IS NO REAL BEAUTY WITHOUT SOME SLIGHT IMPERFECTION"</p>
      <p class="card-text"><small>- James Salter</small></p>
    </div>
  </div>
  
  <!-- About Us  -->
  <div class="container text-center mt-5">
        <div class="hero-image-text h-100 mx-1 my-2" >
          <div class="col-12 mt-5">
                <h3 class="text-uppercase text-muted">About Us</h3> 
          </div>
        </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 bg-light">
          <div class="col-12 text-lg-end">
              <div>
                <h4 class="text-uppercase text-muted">OgochuksStyles...</h4> 
                <span class="haute-couture my-5">
                  For the Made Man & Women 
                </span>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-6 mx-auto pb-2 bg-light">
        <div>
          <p>
            Lorem ipsum dolor sitope amet, consectetur adipisicing elitip. Massumenda, dolore, cum vel modi 
            asperiores consequatur suscipit quidem ducimus eveniet iure expedita consecteture odiogil voluptatum 
            similique fugit voluptates atem accusamus quae quas dolorem tenetur facere tempora maiores adipisci 
            reiciendis accusantium voluptatibus id voluptate tempore dolor harum nisi amet! Nobis, eaque. 
          </p>
        </div>
      </div>
    </div>


  </div>

  <!-- Background Image Overlay Second -->
  <div class="card text-bg-dark">
  <img src="{{ MEDIA_URL }}bg_image.webp" class="card-img" alt="...">
  <div class="card-img-overlay mx-auto">
    <p class="card-text">"Beauty is being comfortable and confident in your own skin"</p>
    <p class="card-text"><small>- Iman</small></p>
  </div>
</div>
</div>
{% endblock %}
