{% extends 'base.html' %}
{% load static %}

{% block title %}Return &amp; Refund Policy | Ogochuks Styles  {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
            <hr>
            <h1 class="mb-4">Return &amp; Refund Policy</h1>
            <hr class="mb-3">
        </div>  
    </div>  
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <p>At <a href="{% url 'home' %}" aria-label="Go to home page"><strong>Ogochuks Styles</strong></a>, 
                we strive to provide quality products and excellent customer service. If you are not completely 
                satisfied with your purchase, please review our return and refund policy below.
            </p>
            <h3 class="mb-4">Returns</h3>
            <p>
                We offer a 28-day return policy, meaning you have 28 days from the date you receive your item to request a return.
            </p>
            <p>To be eligible for a return:.</p>
            <ul class="ml-5">
                <li>The item must be in its original condition—unworn, unused, with tags, and in its original packaging.</li>
                <li>A receipt or proof of purchase is required.</li>
            </ul>
            <p>
                To initiate a return, please contact us first. If your return is approved, we will provide a return shipping 
                label and instructions on how to send back your item. Items sent without prior approval will not be accepted.
            </p>

            <h5 class="fst-italic">Damages & Issues:</h5>
            <p>
                Please inspect your order upon arrival. If you receive a damaged, defective, or incorrect item, 
                contact us immediately so we can resolve the issue. If the return is due to our error 
                (wrong or defective item), we will cover the shipping cost. Otherwise, the consumer is responsible for return shipping fees.
            </p> 
            <p>
                If you choose to return products, you are responsible for the item until we receive it. 
                We are not liable for lost or damaged returns in such cases, and you should contact your 
                chosen shipping carrier for any claims.
            </p>
            <h5 class="fst-italic">Non-Returnable Items:</h5>
            <p>Certain items cannot be returned, including:</p>
            <ul class="ml-5">
                <li>Custom or personalized items
                <li>Personal care products (such as beauty items)</li>
                <li>Hazardous materials (flammable liquids, gases, etc.)</li>
                <li>Perishable goods (food, flowers, plants)</li>
                <li>Sale items & gift cards</li>
            </ul>
            <p>If you are unsure whether your item qualifies for a return, please contact us before making a request.</p>
            <h5 class="fst-italic"> Exchanges:</h5>
            <p>To exchange an item, return the original item first. Once the return is accepted, you can place a new order for the desired item.</p>
            <p>Exchanges are only permitted if the incorrect size was purchased. The item must be:</p>
            <ul class="ml-5">
                <li>Unused, unworn, and in original packaging.</li>
            </ul>
            <p>
                To exchange an item, return the original item first. Once the return is accepted, 
                you can place a new order for the desired item.
            </p>
            <p>Exchanges are only permitted if the incorrect size was purchased. The item must be:</p>
            <ul class="ml-5">
                <li>Unused, unworn, and in original packaging.</li>
            </ul>
            <h3>Refunds</h3>
            <p>
                Once we receive and inspect your return, we will notify you of the confirmation of 
                the refund. If approved, your refund will be processed to your original payment 
                method. Please note that banks and credit card companies may take additional 
                time to process the refund.
            </p>
            <h5 class="fst-italic">Fraud Prevention:</h5>
            <p>We take fraudulent activity seriously. We reserve the right to withhold refunds and block accounts if we suspect:</p>
            <ul class="ml-5">
                <li>False claims about missing orders</li>
                <li>Returning items after use or wear</li>
                <li>Mismatched return items</li>
                <li>Fake proof of return</li>
            </ul>
            <p>
                If you believe a mistake has been made, please contact us for further discussion.
            </p>
            <p>
                For any questions or concerns regarding our refund and return policy, please 
                don't hesitate to reach out to us. <a href="{% url 'contact' %}" aria-label="Go to contact us page">contact us</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}