<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto justify-content-center">
        <li class="nav-item">
          <a href="{% url 'home' %}" aria-label="Go to home page" class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-uppercase nav-link " href="{% url 'products' %}?category=dresses,jeans" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SERVICES
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=dresses" aria-label="Go to women dresses page" class="dropdown-item">Hair Styling</a>
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item" aria-label="Go to women jeans page">Custom Caps</a>
                <a href="{% url 'products' %}?category=dresses,jeans" class="dropdown-item" aria-label="Go to all clothing page">All Services</a>
            </div>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="#">BOOK ONLINE</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'contact' %}" aria-label="Go to contact bessie beau page" class="nav-link" href="#">CONTACT</a>
        </li>      
    </ul>  
</div>




