<div class="container-fluid mt-2">
    <a class="navbar-brand text-uppercase text-white" href="{% url 'home' %}">
        <img src="{{ MEDIA_URL }}ogochuks_logo.png" class="img-fluid" alt="Ogochuksstyles logo">
    </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto ">
      <li class="nav-item">
        <a class="nav-link text-uppercase text-white" href="{% url 'home' %}" aria-label="Go to home page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase text-white" href="{% url 'about' %}" aria-label="Go to About Us page">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase text-white" href="{% url 'products' %}" aria-label="Go to home page">Products</a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link text-uppercase text-white" 
          href="{% url 'products' %}" 
          aria-label="Go to OgochuksStyles' appointment page (opens new tab on third party site)">
          Book Online
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase text-white" href="{% url 'contact' %}" aria-label="Go to contact Ogochuks Styles page">Contact</a>
      </li>
    </ul>
    <div class="d-flex">
        <ul class="list-inline list-unstyled text-center text-lg-right mx-auto my-0">
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center text-white">
                        <div><i class="fas fa-user fa-lg" aria-hidden="true"></i></div>
                        {% if request.user.is_authenticated %}
                        <p class="my-0">Hi {{ user | capfirst }}!</p>
                        {% else %}
                        <p class="my-0">Account</p>
                        {% endif %}
                    </div>
                </a>
                <div class="dropdown-menu border-1" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %} {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" aria-label="Go to product management page" class="dropdown-item">Product Management</a>
                    <hr />
                    <a href="{% url 'profile' %}" aria-label="Go to my account page" class="dropdown-item"> <i class="fa-solid fa-user" aria-hidden="true"></i> My Account </a>
                    <hr />
                    <a href="{% url 'account_logout' %}" aria-label="Go to logout page" class="dropdown-item"> <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i> Logout </a>
                    {% elif not request.user.is_superuser %}
                    <a href="{% url 'profile' %}" aria-label="Go to my account page" class="dropdown-item"> <i class="fa-solid fa-user" aria-hidden="true"></i> My Account </a>
                    <hr class="my-0" />
                    <a href="{% url 'account_logout' %}" aria-label="Go to logout page" class="dropdown-item"> <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i> Logout </a>
                    {% endif %} {% else %}
                    <a href="{% url 'account_signup' %}" aria-label="Go to signup page" class="dropdown-item"> <i class="fa-solid fa-users" aria-hidden="true"></i> Register </a>
                    <hr class="my-0" />
                    <a href="{% url 'account_login' %}" aria-label="Go to login page" class="dropdown-item"> <i class="fa-solid fa-lock" aria-hidden="true"></i> Login </a>
                    {% endif %}
                </div>
            </li>
            {% if request.user.is_authenticated %}
            <li class="list-inline-item">
                <a class="nav-link" href="{% url 'wishlist' %}" aria-label="Go to product wishlist page">
                    <div class="text-center text-white">
                        <div><i class="fa-solid fa-heart" aria-hidden="true"></i></div>
                        <p class="my-0">
                            WishList
                        </p>
                    </div>
                </a>
            </li>
            {% endif %}
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}" aria-label="Go to shopping cart page">
                    <div class="text-center text-uppercase text-white">
                        <div><i class="fa-solid fa-cart-shopping" aria-hidden="true"></i></div>
                        <p class="my-0">
                            {% if grand_total %} €{{ grand_total|floatformat:2 }} {% else %} €0.00 {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- Show on mobile only -->
    <div class="col-12 d-block d-md-none">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customer Service
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'refund' %}" aria-label="Go to refund policy page">Return &amp; Refund Policy</a></li>
            <li><a class="dropdown-item" href="{% url 'privacy' %}" aria-label="Go to privacy policy page">Privacy Policy</a></li>
            <li><a class="dropdown-item" href="{% url 'terms' %}" aria-label="Go to terms and service page">Terms of Service</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Buy on OgochuksStyles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'bookings' %}" aria-label="Go to how to shop on bessie + beau page">Booking Appointments</a></li>
            <li><a class="dropdown-item" href="{% url 'user_guide' %}" aria-label="Go to user guide page">User Guide</a></li>
          </ul>
        </li>
      </ul>
    </div> 
  </div>
</div>